# Telegram Bot API
pyrogram==2.0.106
tgcalls

# Video Downloading/Processing
yt-dlp
moviepy
ffmpeg-python

# HTTP Requests (for API calls)
requests

# Environment Variables
python-dotenv

# File Size and Video Metadata
hachoir
python-telegram-bot>=20.0
# Handling Media Information
pymediainfo

# For progress bar during downloads
tqdm

# Flask (optional if you plan to host a simple web interface)
Flask
